In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import time
import warnings

from nltk.corpus import stopwords
warnings.filterwarnings("ignore")
import seaborn as sns
from sklearn.model_selection import train_test_split

In [5]:
# loading data

columns = ['id','text']

labels = ['a','b','c','d','e','f','e','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u']



# reading train text
train_data = pd.read_csv('F:/EPITA/Project_Lakshy/Data_proj/Data_proj/train.txt',sep='~',names = columns)

# reading test text
test_data = pd.read_csv('F:/EPITA/Project_Lakshy/Data_proj/Data_proj/testing.txt',sep='~',names = columns)

# print first 5 rows of train data
print(train_data.head())
print("-"*60)

# print first 5 rows of test data
print(test_data.head())
print("-"*60)


print('Number of data points in train text : ', train_data.shape[0])
print('Number of features in train text: ', train_data.shape[1])
print('Features : ', train_data.columns.values)
print("-"*60)


print('Number of data points in test text : ', test_data.shape[0])
print('Number of features in test text: ', test_data.shape[1])
print('Features : ', test_data.columns.values)
print("-"*60)


# reading labels of train data
train_labels = pd.read_csv('F:/EPITA/Project_Lakshy/solution/solution/Train.csv',header = None,names = labels)

# reading labels of test data
test_labels = pd.read_csv('F:/EPITA/Project_Lakshy/solution/solution/Test.csv',header = None,names = labels)

print("Shape of train labels : ",train_labels.shape)
print("Shape of test labels : ",test_labels.shape)

train_labels.head()

   id                                               text
0   1  locate _ distancemeasuringequipment FROM runwa...
1   2  IN _ I BECAME AWARE THAT MY ULTRASONIC AND EDD...
2   3  visualflightrules FROM feet PIERCE flightlevel...
3   4  JUST PRIOR TO rotate A DEER RAN ONTO THE runwa...
4   5  climb ON _ degree head TO _ feet GOT traffical...
------------------------------------------------------------
   id                                               text
0   1  AFTER takeoff ON runway _ A loudnoise WAS hear...
1   2  taxi OFF THE parkingramp THE brake system fail...
2   3  airworthinessdirective _ DUE EACH _ hour TO GR...
3   4  ON descend clear TO _ feet.captain SET _ feet ...
4   5  AN UNUSUAL ODOR WAS note IN THE COCKPIT BY fli...
------------------------------------------------------------
Number of data points in train text :  21519
Number of features in train text:  2
Features :  ['id' 'text']
------------------------------------------------------------
Number of data points in test text :  7077
Number of features in test text:  2
Features :  ['id' 'text']
------------------------------------------------------------
Shape of train labels :  (21519, 22)
Shape of test labels :  (7077, 22)

   a  b  c  d  e  f  e.1  g  h  i ...  l  m  n  o  p  q  r  s  t  u
0 -1  1 -1 -1 -1  1    1 -1 -1 -1 ... -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1   -1 -1 -1 -1 ... -1 -1 -1 -1 -1 -1  1 -1 -1 -1
2 -1  1 -1 -1 -1 -1   -1 -1 -1 -1 ...  1  1 -1 -1 -1 -1  1 -1  1 -1
3 -1 -1 -1 -1 -1 -1   -1 -1 -1 -1 ... -1 -1 -1 -1 -1  1 -1 -1 -1 -1
4 -1 -1 -1 -1 -1 -1   -1 -1 -1 -1 ... -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

[5 rows x 22 columns]

In [6]:
# loading stop words from nltk library
stop_words = set(stopwords.words('english'))


def preprocess(total_text):
    if type(total_text) is not int:
        string = ""
        # replace every special char with space
        total_text = re.sub('[^a-zA-Z0-9\n]', ' ', str(total_text))
        # replace multiple spaces with single space
        #total_text = re.sub('\s+',' ', str(total_text))
        # converting all the chars into lower-case.
        total_text = total_text.lower()
        
        for word in total_text.split():
        # if the word is a not a stop word then retain that word from the data
            if not word in stop_words:
                string += word + " "
        
        return string

In [16]:
cleaned_train = []
cleaned_test = []

# preprocess the train text
for sent in train_data['text'].values:
    temp = preprocess(sent)
    cleaned_train.append(temp)

# add preprocessed the data to train dataframe
train_data['cleaned_text'] = cleaned_train

# preprocess the test text
for sent in test_data['text'].values:
    temp = preprocess(sent)
    cleaned_test.append(temp)

# add preprocessed the data to test dataframe
test_data['cleaned_text'] = cleaned_test

In [17]:
# check if we preprocessed properly or not
train_data.head()

,id,text,cleaned_text
0,1,locate _ distancemeasuringequipment FROM runwa...,locate distancemeasuringequipment runway locat...
1,2,IN _ I BECAME AWARE THAT MY ULTRASONIC AND EDD...,became aware ultrasonic eddy current inspect q...
2,3,visualflightrules FROM feet PIERCE flightlevel...,visualflightrules feet pierce flightlevel habe...
3,4,JUST PRIOR TO rotate A DEER RAN ONTO THE runwa...,prior rotate deer ran onto runway rotate hear ...
4,5,climb ON _ degree head TO _ feet GOT traffical...,climb degree head feet got trafficalertandcoll...

In [18]:
test_data.head()

,id,text,cleaned_text
0,1,AFTER takeoff ON runway _ A loudnoise WAS hear...,takeoff runway loudnoise hear come front area ...
1,2,taxi OFF THE parkingramp THE brake system fail...,taxi parkingramp brake system fail stop aircra...
2,3,airworthinessdirective _ DUE EACH _ hour TO GR...,airworthinessdirective due hour grease blower ...
3,4,ON descend clear TO _ feet.captain SET _ feet ...,descend clear feet captain set feet alert read...
4,5,AN UNUSUAL ODOR WAS note IN THE COCKPIT BY fli...,unusual odor note cockpit flightcrew minute la...